{% extends 'adminapp/base.html' %}
{% block content %}

<!-- /#sidebar-wrapper -->
<div class="container-fluid" id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-1 px-4">
        <div class="d-flex align-items-center justify-content-end">
            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
            <h2 class="fs-2 m-2">Appointments</h2>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-1 px-4">
        <div class="d-flex align-items-center justify-items-end">
            <i class="fas fa-user" ></i>
                    <h2 class="fs-4 m-2">  {{user.username}}</h2>
        </div>


        
        
    </nav>
    
    <div class="row my-5">
        <h3 class="fs-4 mb-3 text-center">Requested Appointments</h3>
        <div class="col">
            <table class="table bg-white rounded shadow-sm  table-hover">
                
                <tbody>
                    <td>{% for appointment in requested_appointments %}
                    {{appointment.patient}} requested for Doctor {{appointment.doctor}} | <a href="{% url 'manage-appointment' appointment.id %}">Manage</a>
                {% endfor %}
                    </td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="fs-4 mb-3  text-center">Confirmed Appointments</h3>
        <div class="col">
            <table class="table bg-white rounded shadow-sm  table-hover">
                
                <tbody>
                    <td>{% for appointment in confirmed_appointments %}
                    {{appointment.patient}} confirmed for Doctor {{appointment.doctor}} | <a href="{% url 'manage-appointment' appointment.id %}">Manage</a>
                {% endfor %}
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>


   

{% endblock %}