{% extends 'patientapp/base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-1 px-4">
    <div class="d-flex align-items-center justify-content-end">
        <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
        <h2 class="fs-2 m-2">Register</h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                
                    <i class="fas fa-user me-2"></i>{{user.username}}
                
                
            </li>
        </ul>
    </div>   
    
    
</nav>

<div class="container-fluid p-4">
    <div class="row register-form bg-white shadow rounded w-75 mx-auto py-5 border border-secondary">
        <div class="col-md-10 offset-md-1">
            <form class="custom-form" style="margin-top: 20px;" method="post">
                {% csrf_token %}
                <h2 class="">Patient Registration</h2>
                <p class="text-muted">Create a new patient account</p>
                <hr>
                <div class="row">
                    <div class="form-row form-group col-md-6">
                        <div class="col-sm-10 label-column">
                            <label class="col-form-label" for="first-name-input-field">First Name </label>
                        </div>
                        <div class="col-sm-10 input-column">
                            <input class="form-control" type="text" name="first_name" required="">
                        </div>
                    </div>
                    <br>
                    <div class="form-row form-group col-md-6">
                        <div class="col-sm-10 label-column">
                            <label class="col-form-label" for="Last-name-input-field">Last Name </label>
                        </div>
                        <div class="col-sm-10 input-column">
                            <input class="form-control" type="text" name="last_name" required="">
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-row form-group">
                    <div class="col-md-4 label-column">
                        <label class="col-form-label" for="email-input-field">Email </label>
                    </div>
                    <div class="col-md-6 input-column">
                        <input class="form-control" type="email" name="email" required="">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="form-row form-group col-md-6">
                        <div class="col-sm-10 label-column">
                            <label class="col-form-label" for="pawssword-input-field">Password </label>
                        </div>
                        <div class="col-sm-10 input-column">
                            <input class="form-control" type="password" name="password" required="">
                        </div>
                    </div>
                    <br>
                    <div class="form-row form-group col-md-6">
                        <div class="col-sm-10 label-column">
                            <label class="col-form-label" for="repeat-pawssword-input-field">Repeat Password </label>
                        </div>
                        <div class="col-sm-10 input-column">
                            <input class="form-control" type="password" name="repeatpassword" required="">
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-row form-group">
                    <div class="col-sm-4 label-column">
                        <label class="col-form-label" for="dropdown-input-field">Gender</label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <select class="form-control" name="gender" required="">
                            <optgroup label="Select Gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="X">Other</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column">
                        <label class="col-form-label" for="name-input-field">Phone Number</label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input class="form-control" type="tel" name="phonenumber" required="">
                    </div>
                </div>
                <br>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column">
                        <label class="col-form-label" for="name-input-field">Address</label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <textarea class="form-control" name="address" required=""></textarea>
                    </div>
                </div>
                <br>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column">
                        <label class="col-form-label" for="name-input-field">Birth Date</label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input class="form-control" type="date" name="dateofbirth" required="">
                    </div>
                </div>
                <br>
            
                <button class="btn btn-primary submit-button" type="submit">Create Account</button>
                <br>
                <hr>
                <p>Already have an Account?</p>
                <p><a href="{% url 'patient-login' %}">Sign In</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}