{% extends 'doctorapp/base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-1 px-4">
    <div class="d-flex align-items-center justify-content-end">
        <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
        <h2 class="fs-2 m-2">Appointment</h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                
                    <i class="fas fa-user me-2"></i>{{user.username}}
                
                
            </li>
        </ul>
    </div>   
    
    
</nav>

<div class="container-fluid p-4 mt-3">
    <div class="p-3 bg-white shadow rounded border border-secondary w-75 mx-auto">
        <h2>{{appointment}}</h2>
        <hr>
        <p>Appointment for Patient: {{appointment.patient}}</p>
        <p>Appointment with Doctor: {{appointment.doctor}}</p>
        <p>Appointment Time: {{appointment.time}}</p>
        <p>Details: {{appointment.details}}</p>
        <hr>
        <p>Confirmed: {{appointment.confirmed}}</p>
        <p>Completed: {{appointment.completed}}</p>
        <hr>
        <button type="button" class="btn btn-primary "onclick="goBack()">Go Back</button>
    </div>

</div>

{% endblock %}